<div id = "divWeatherMain">
    <div class = "weatherWidgetRow" style="font-size: 32px; margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
    <div class = "weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}} / {{WeatherData.temp_max}}</div>
    <div class = "weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}} </div>
    <div class = "weatherWidgetRow" style="font-size: 25px; margin-top: 10px;">{{WeatherData.name}}</div>
    <div class = "weatherWidgetRow" style="font-size: 12;">Humidity: {{WeatherData.main.Humidity}}</div> 
</div>
