#divWeatherMain{
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 220px;
    background: rgb(0,0,0);
    background: linear-gradient((180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1)));
    color: white;;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.weatherWidgetRow{
 display: block;
 margin: 0 auto;
 width: fit-content;   
}
